<!DOCTYPE html>
<html>
  <head>
    <title>Dispatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    <script>
      window.controller = "<%= asset_path('controller.svg')%>";
      window.flask = "<%= asset_path('flask.svg')%>";
      window.headphones = "<%= asset_path('headphones.svg')%>";
      window.leftPhone = "<%= asset_path('left-phone.svg')%>";
      window.mainComp = "<%= asset_path('main-comp.svg')%>";
      window.rightComp = "<%= asset_path('right-comp.svg')%>";
      window.rightPhone = "<%= asset_path('right-phone.svg')%>";
      window.basicIcon = "<%= asset_path('basic-discord.png')%>";
      window.mainIcon = "<%= asset_path('discord-icon.png')%>";
      window.loadingIcon = "<%= asset_path('discord-icon-black.svg')%>";
      window.cd = "<%= asset_path('cd.svg')%>";
      window.coin = "<%= asset_path('coin.svg')%>";
      window.triangle = "<%= asset_path('triangle.svg')%>";
      window.bomb = "<%= asset_path('bomb.svg')%>";
      window.whiteFace = "<%= asset_path('white-face.svg')%>";
      window.angryFace = "<%= asset_path('angry-face.svg')%>";
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
