<!DOCTYPE html>
<html>
  <head>
    <title>Dispatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('fav.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
    <script>
      window.controller = "<%= asset_path('splash/controller.svg')%>";
      window.flask = "<%= asset_path('splash/flask.svg')%>";
      window.headphones = "<%= asset_path('splash/headphones.svg')%>";
      window.leftPhone = "<%= asset_path('splash/left-phone.svg')%>";
      window.mainComp = "<%= asset_path('splash/main-comp.svg')%>";
      window.rightComp = "<%= asset_path('splash/right-comp.svg')%>";
      window.rightPhone = "<%= asset_path('splash/right-phone.svg')%>";
      window.basicIcon = "<%= asset_path('basic-discord.png')%>";
      window.mainIcon = "<%= asset_path('discord-icon.png')%>";
      window.loadingIcon = "<%= asset_path('discord-icon-black.svg')%>";
      window.cd = "<%= asset_path('splash/cd.svg')%>";
      window.coin = "<%= asset_path('splash/coin.svg')%>";
      window.bomb = "<%= asset_path('splash/bomb.svg')%>";
      window.whiteFace = "<%= asset_path('white-face.svg')%>";
      window.angryFace = "<%= asset_path('angry-face.svg')%>";
      window.splashIcon = "<%= asset_path('splash-logo.png')%>";
      window.logo = "<%= asset_path('logo-title.png')%>";
      window.serverJoin = "<%= asset_path('join-server.png')%>";
      window.serverCreate = "<%= asset_path('create-server.png')%>";
      window.serverPic = "<%= asset_path('server-modal-pic.png')%>";
      window.wumpus = "<%= asset_path('wumpus.svg')%>";
      window.questionBox = "<%= asset_path('splash/question_box.svg')%>";
      window.gameCartridge = "<%= asset_path('splash/game_cartridge.svg')%>";

      window.triangle = "<%= asset_path('splash/triangle.svg')%>";
      window.dot = "<%= asset_path('splash/dot.svg')%>";
      window.square = "<%= asset_path('splash/square.svg')%>";
      window.circle = "<%= asset_path('splash/circle.svg')%>";
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>



  </head>

  <body>
    <%= yield %>
  </body>
</html>
